<h1>New comment</h1>

<%= form_with(model: [@article, Comment.new]) do |form| %>
  <ul>
        <%= form.label :text %>
        <%= form.text_field :text %>
        
        <%= form.submit %>
  </ul>
<% end %>

post('http://localhost:3000/articles/:article_id/comments', params: {text: 'dsadsadsa'} )
